<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research Paper</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/table_stype_paper_detail.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/icon.css') }}">
    {% set author_names = authors | map(attribute='name') | join(', ') %}
</head>

<body>


    <div class="myContainer">
        <h1>Article
            <a href="/view/{{ paper.paper_id }}" class="action-button" target="_blank">
                <img src=" {{ url_for('static', filename='image/download.png' ) }}" alt="Edit"
                    style="width:20px;height:20px;">
            </a>
        </h1>
        <div class="pane1">
            <div class="icon-button right_allin_button">
                <a href="#" class="action-button" data-tooltip="Edit Paper Detail" id="editButton">
                    <img src="{{ url_for('static', filename='image/edit.png') }}" alt="edit"
                        style="width:20px;height:20px;">
                </a>

            </div>
            <div class="metadata">
                <table>
                    <tr>
                        <th>title</th>
                        <td>{{ paper.title }}</td>
                    </tr>
                    <tr>
                        <th>Authors</th>
                        <td>{{author_names}}</td>
                    </tr>
                    <tr>
                        <th>source</th>
                        <td>{{ paper.source_reference }}</td>
                    </tr>
                    <tr>
                        <th>Publication date</th>
                        <td>{{ paper.public_date }}</td>
                    </tr>

                    <tr>
                        <th>URL</th>
                        <td><a href="{{ paper.url }}" target="_blank">{{ paper.url }}</a></td>
                    </tr>

                    <tr>
                        <th>Description</th>
                        <td>{{ paper.abstract }} </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="pane2">
            <h1>Paper Summary</h1>
            {{ summary | safe}}

        </div>
    </div>
</body>

<!-- The Modal -->
<div class="modal" id="editModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- モーダルのヘッダー -->
            <div class="modal-header">
                <h4 class="modal-title">Edit Paper Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form id="editPaperForm">
                    <input type="hidden" name="paper_id" value="{{ paper.paper_id }}">
                    <div class="form-group row">
                        <label for="paperTitle" class="col-sm-3 col-form-label">Title</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="paperTitle" name="title"
                                value="{{paper.title }}" required>
                        </div>
                    </div>
                    <div class=" form-group row">
                        <label for="auther" class="col-sm-3 col-form-label">Auther</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="auther" name="auther"
                                value="{{ author_names }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="source" class="col-sm-3 col-form-label">Source</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="source" name="source"
                                value="{{ paper.source_reference }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="publication" class="col-sm-3 col-form-label">Publication Date</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="publication" name="publication"
                                value="{{ paper.public_date }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="URL" class="col-sm-3 col-form-label">URL</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="URL" name="URL" value="{{ paper.url }}">
                        </div>
                    </div>
                    <div class=" form-group row">
                        <label for="abstract" class="col-sm-3 col-form-label">Abstract</label>
                        <div class="col-sm-9">
                            <textarea id="abstract" class="form-control" name="abstract" rows="4"
                                cols="50">{{paper.abstract}}</textarea><br><br>

                        </div>
                    </div>
                </form>
            </div>
            <!-- モーダルのフッター -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">close</button>
                <button type="submit" class="btn btn-primary" form="editPaperForm">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- jQueryとBootstrapのJavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- モーダル表示用のJavaScript -->
<script>
    $(document).ready(function () {
        $("#editButton").click(function () {
            $("#editModal").modal();
        });
    });
</script>
<script src="{{ url_for('static', filename='js/edit_modal.js') }}"></script>

</html>