.icon-button a {
    margin-left: 10px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    /* ボタンサイズを調整するために追加 */
    padding: 5px;
    /* ボタンの内部余白を追加して小さく見えるようにする */
}

.right_allin_button {
    text-align: right;
}

.action-buttons img {
    margin: 0 5px;
}